mozilla/
Thunar/
environment.d/
xfce4/
galculator/
qalculate/
.mono/
.vscode/
AmethystModManager/
Code - OSS/
FD6/
KDE/
KeePass/
MangoHud/
QtProject.conf
Trolltech.conf
Vortex/
alacritty/
arkrc
autostart/
baloofileinformationrc
baloofilerc
bluedevilglobalrc
cachyos-hello.json
cachyos/
dconf/
dolphinrc
fish.bak/
fish/
gops/
gpu-screen-recorder/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
haruna/
itch/
kactivitymanagerdrc
kate-externaltoolspluginrc
kate/
katerc
katevirc
kcmfonts
kcminputrc
kconf_updaterc
kde-mimeapps.list
kdeconnect/
kded5rc
kded6rc
kdedefaults/
kdeglobals
kglobalshortcutsrc
kiorc
konsolerc
konsolesshconfig
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
kxkbrc
libaccounts-glib/
libinput-gestures.conf
linuxConfig/
micro/
mimeapps.list
mozilla/
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
pulse/
pupgui/
session/
spectaclerc
spicetify/
spotify/
systemmonitorrc
trashrc
user-dirs.dirs
user-dirs.locale
vesktop/
xed/
xsettingsd/


# -----------------------------
# important configs
# -----------------------------
!theme/
!fish/
!foot/
!rofi/
!sway/
!waybar/
!gtk-3.0/